/*/////////////////////////////////////////////////
 CUSTOM ADMIN PANEL CSS
////////////////////////////////////////////////*/
.input_section{border:1px solid #ddd;border-bottom:0;background:#f9f9f9;border-radius:3px 3px 3px 3px;width:40%;margin:10px 0 0 0}.option_input label{font-size:12px;font-weight:700;padding:0 0 10px;display:block}.option_input{padding:10px;border-bottom:1px solid #ddd;border-top:1px solid #fff}.option_input small{display:block;color:#999;padding:0 0 0 15px;overflow: hidden;}.option_input input[type="text"],.option_input select{width:20%;font-size:12px;padding:4px;color:#333;line-height:1em;background:#f3f3f3;margin:10px 0}.option_input input:focus,.option_input textarea:focus{background:#fff}.option_input textarea{width:20%;height:175px;font-size:12px;padding:4px;color:#333;line-height:1.5em;background:#f3f3f3}.input_title h3{color:#464646;cursor:pointer;float:left;font-size:14px;margin:0;padding:5px 0 0;text-shadow:0 1px 0 #fff}.input_title{cursor:pointer;border-bottom:1px solid #ddd;margin:0;padding:7px 10px;background-color:#f1f1f1;background-image:-moz-linear-gradient(center top,#f9f9f9,#ececec);font-size:15px;font-weight:normal;line-height:1;border-bottom-color:#dfdfdf;box-shadow:0 1px 0 #fff}.input_title h3 img{position:relative;top:-2px;vertical-align:middle;margin-right:5px}.input_title span.submit{display:block;float:right;margin:0 20px;padding:0}.clearfix{clear:both}form>p.submit{padding:25px 0 0 9px;margin-right:30px}.options_wrap>ul li{display:inline;margin-right:5px}.content_options .message{margin-top:30px}input[type="checkbox"], input[type="radio"]{float: left;margin: 4px 10px 0 0;}.all_options .option_checkbox { padding: 10px; }.form-table{ margin-bottom: 26px !important; }#rg-lovers h3{ background: #f3f3f3;padding: 10px 0 10px 10px; }#rg-lovers .icon{background: url(../images/rg_menu_icon.png) no-repeat; display: block; width: 40px; height: 40px; margin: 0 10px 0 0; float: left; }.regular-text { border: 1px solid #CECECE; }

.section-title { background: #ececec; padding: 6px 10px !important; font-size: 19px !important; }
.form-table td { padding: 16px 0 !important; }
.form-table th { padding: 18px 10px !important; }

/* repeatable */
.form-table.rg-lovers .rg-lovers_repeatable {
	width:510px;
}
.form-table.rg-lovers .rg-lovers_repeatable th {
	width:auto !important;
	padding:5px 10px;
	border-bottom:1px dashed #ccc;
	text-transform:uppercase;
	font-size:10px;
	text-shadow:none;
}

.form-table.rg-lovers .rg-lovers_repeatable tfoot th {
	border-bottom:none;
}
	
.form-table.rg-lovers .rg-lovers_repeatable td {
	width:auto !important;
	vertical-align:top;
	padding:10px;
}

.form-table.rg-lovers .rg-lovers_repeatable tr:nth-child(even) td {
	background:none;
}

.r-row { clear: both; overflow: hidden; }
	.form-table.rg-lovers .rg-lovers_repeatable td * {
		display:block;
		margin-bottom:3px;
	}
	
		.form-table.rg-lovers .rg-lovers_repeatable td .rg-lovers_upload_image_button,
		.form-table.rg-lovers .rg-lovers_repeatable td small,
		.form-table.rg-lovers .rg-lovers_repeatable td small a {
			display:inline-block;
		}
		
	.form-table.rg-lovers .rg-lovers_repeatable td label {
		display:block;
		float:left;
		padding: 0 10px 0 0;
		font-weight:bold;
		line-height:30px;
		clear:left;
		min-width: 70px;
	}
	
	.form-table.rg-lovers .rg-lovers_repeatable td p {
		margin:0;
		float:left;
		padding-bottom:5px;
	}

	.form-table.rg-lovers .rg-lovers_repeatable td input { float: left; }
	
	.form-table.rg-lovers .rg-lovers_repeatable td textarea {
		width: 300px;
	}

	.form-table.rg-lovers .rg-lovers_repeatable .repeatable_id {
		background:#ccc;
		width:30px;
		text-align:center;
	}
.btns { overflow: hidden;; display: block; }
.rg-lovers_repeatable .sort_label {
	display:block;
	width:20px;
	height:17px;
	background:url(../images/sprite.png) no-repeat -68px -100px;
}

.rg-lovers_repeatable .sort {
	display:block;
	width:20px;
	height:15px;
	background:url(../images/sprite.png) 0 -100px;
	margin-top:6px;
	cursor:move;
	float: left;
}

.rg-lovers_repeatable_add, 
.rg-lovers_repeatable_remove {
	display:block;
	width:18px;
	height:16px;
	background:url(../images/sprite.png);
	margin-top:5px;
	float: right;
}

.rg-lovers_repeatable_add {
	background-position:-30px -100px;
}

.rg-lovers_repeatable_remove {
	background-position:-50px -100px;
}
	
.rg-lovers_repeatable tr:first-child .rg-lovers_repeatable_remove,
.rg-lovers_repeatable tr:first-child > td > .sort {
	display:none;
}